<script type="text/javascript" charset="utf-8" src="$!{service_name}/resources/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="$!{service_name}/resources/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="$!{service_name}/resources/ueditor/ueditorPatch.js"> </script>
<script type="text/javascript" charset="utf-8" src="$!{service_name}/resources/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="$!{service_name}/resources/scripts/ajaxfileupload.js"></script>
#xForm_start({"id":"timeTreeCfg", "target":"_self"})
#xLayoutPanel_start({"debug":false,"width:":"80%", "cols":1, "fieldset":true, "fieldsetStyle":"padding-top:1px;margin-top:1px;border:0px"})
#xTextField({"colspan":1,"id":"catalogName","name":"catalogName","width":"80%","label":"标题","labelWidth":"120px","value":"","required":true,"sufLabelWidth":"180px","sufLabel":"(不能超过100字)"})
#xTextField({"colspan":1,"id":"catalogUrl","name":"catalogUrl","width":"80%","label":"详细页面链接","labelWidth":"120px","value":"","required":false,"sufLabelWidth":"180px","sufLabel":"(不能超过100字)"})
#xPanel_start({"colspan":1,"":""})
<p style="padding-left: 9.5%;">预览图片：</p>
<div style="padding-left: 20%;">
    <input type="hidden" id="catalogPic" name="catalogPic" value="">
    <img style="height:100px; border:1px solid #5794BF;" id="imgpicBeg1" src="$!{service_name}/resources/images/blankTip.png">
    <input type="button" onclick="xImgSelector.show('catalogPic', 'imgpicBeg1')" value="选择图片">
    <input type="button" onclick="replaceSrc($('#imgpicBeg1').attr('id'))" value="重置">
</div>
#xPanel_end

#xTextArea_start({"colspan":1,"id":"catalogDesc","width":"80%","name":"catalogDesc","colspan":1,"rows":"10", "label":"预览描述","labelWidth":"120px","required":false,"cellVAlign":"top","readOnly":false})#xTextArea_end
#xButtons({"colspan":1,"cellHeight":"40px","cellAlign":"right", "btnAlign":"center", "cellVAlign":"middle",
"items":[
{"value":"保存","onClick":"doSave()"}
]
})
#xLayoutPanel_end
#xForm_end
<script>
    function replaceSrc(id){
        $("#"+id).attr("src","$!{service_name}/resources/images/blankTip.png");
    }
    function doSave(){
        var params=XComps.serializeForm('#timeTreeCfg');
        if(params==null){
            return;
        }
        $.post("$!{service_name}/config/saveNewCatalog.json",params,function(data){
            if(data.result==true){
                alert('添加成功!');
                if(currentWin){
                    currentWin.opener.dataGrid.reload();
                    currentWin.close();
                }

            }else{
                alert('添加失败:'+data.errorInfo);
            }
        })
    }
</script>