<script type="text/javascript" charset="utf-8" src="$!{service_name}/resources/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="$!{service_name}/resources/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="$!{service_name}/resources/ueditor/ueditorPatch.js"> </script>
<script type="text/javascript" charset="utf-8" src="$!{service_name}/resources/ueditor/lang/zh-cn/zh-cn.js"></script>
#xForm_start({"id":"timeTreeCfg", "target":"_self"})
    #xLayoutPanel_start({"debug":false,"width:":"80%", "cols":1, "fieldset":true, "fieldsetStyle":"padding-top:1px;margin-top:1px;border:0px"})
        #xCalendar({"colspan":1,"id":"startTime","name":"startTime","label":"开始时间","labelWidth":"120px","required":true,"value":"",
        "width":"200px","maxDateRef":"#eDate","dateFmt":"yyyy-MM-dd"})
        #xCalendar({"colspan":1,"id":"endTime","name":"endTime","label":"结束时间","labelWidth":"120px","required":true,"value":"",
        "width":"200px","minDateRef":"#bDate","dateFmt":"yyyy-MM-dd"})
        #xTextField({"colspan":1,"id":"title","name":"title","width":"80%","label":"标题","labelWidth":"120px","value":"","required":true,"sufLabelWidth":"180px","sufLabel":"(不能超过100字)"})
        #xTextArea_start({"colspan":1,"id":"contentDesc","width":"80%","name":"contentDesc","colspan":1,"rows":"5", "label":"预览描述","labelWidth":"120px","""required":false,"cellVAlign":"top","readOnly":false})#xTextArea_end
        #xTextField({"colspan":1,"id":"detailUrl","name":"detailUrl","width":"80%","label":"详细页面链接","labelWidth":"120px","value":"#","required":false,"sufLabelWidth":"180px","sufLabel":"(不能超过100字)"})
        #xPanel_start({"colspan":1,"":""})
            <div>
                <input type="hidden" id="contentImgUrl" name="contentImgUrl">
                <img style="height:100px; border:1px solid #5794BF;" id="imgpicBeg1" src="$!{service_name}/resources/images/blankTip.png">
                <input type="button" onclick="imgSelectedCallBack()" value="选择图片">
                <input type="button" onclick="replaceSrc($('#imgpicBeg1').attr('id'))" value="重置">
            </div>
        #xPanel_end
        #xButtons({"colspan":1,"cellHeight":"40px","cellAlign":"right", "btnAlign":"center", "cellVAlign":"middle",
            "items":[
            {"value":"保存","onClick":"doSave()"}
            ]
        })
#xLayoutPanel_end
#xForm_end
<script>
    function replaceSrc(id){
        $("#"+id).attr("src","$!{service_name}/resources/images/blankTip.png");
    }
    function doSave(){
        var params=XComps.serializeForm('#timeTreeCfg');
        if(params==null){
            return;
        }
        $.post("$!{service_name}/config/saveNewTimeNode.json",params,function(data){
            if(data.result==true){
                alert('添加成功!');
                if(currentWin){
                    currentWin.opener.dataGrid.reload();
                    currentWin.close();
                }

            }else{
                alert('添加失败:'+data.errorInfo);
            }
        })
    }
    function imgSelectedCallBack(){
        xImgSelector.show('contentImgUrl', 'imgpicBeg1',function(){
        });
    }
</script>