#xForm_start({"id":"timeTreeCfg", "target":"_self"})
    #xLayoutPanel_start({"debug":false,"width:":"80%", "cols":1, "fieldset":true, "fieldsetStyle":"padding-top:1px;margin-top:1px;border:0px"})
        #xButtons({"colspan":1,"cellHeight":"40px","cellAlign":"right", "btnAlign":"right", "cellVAlign":"middle",
            "items":[
                {"value":"新增","onClick":"doNew()"},
                {"value":"修改","onClick":"doEdit()","style":"background: #F6A64E !important;color:#fff;"},
                {"value":"删除","onClick":"doDelete()","style":"background: #E94A5F !important;color:#fff;"}
            ]
        })
        #xGrid({"colspan":1, "name":"dataGrid", "multiple":false, "dragAndDrop":true,
        "sortable":true, "height":"520px", "autoAdjust":false,"paging":true,"pageCountDefine":"10,20,30","multiline":true,
        "events":{
        "onInit":"doQuery()",
        "onRowDblClicked" : "doEdit(rid, cid)"
        },
        "columns":[
            {"dataIdx":"ID", "width":40, "title":"序号","align":"left"},
            {"dataIdx":"TITLE", "width":100, "title":"标题","align":"left"},
            {"dataIdx":"CONTENT_DESC", "width":300, "title":"预览描述","align":"left"},
            {"dataIdx":"CONTENT_IMG_URL", "width":160, "title":"预览图","align":"center","render":"imgRender(td,data,rowData)"},
            {"dataIdx":"DETAIL_URL", "width":260, "title":"详细页面链接","align":"left"},
            {"dataIdx":"START_TIME", "width":100, "title":"开始时间"},
            {"dataIdx":"END_TIME", "width":100, "title":"结束时间","align":"left"}
        ]})
    #xLayoutPanel_end
#xForm_end
<script>
    function doQuery(){
        dataGrid.clearAndLoadx("$!{service_name}/config/timeTreeCfg.json");
    }
    function doEdit(rid, cid){
        var sdata, id;
        if(rid){
            sdata = dataGrid.getDataByRowId(rid);
        }else{
            sdata = dataGrid.getSelectedData();
        }
        if(!sdata){
            alert("请先选择要修改的数据!");
            return;
        }
        id = sdata.ID;

        var win = xWindow.getInstance("editEducationInfo", {w:680, h:500});
        win.centerOnScreen();
        win.setModal(true);
        win.attachURL("$!{service_name}/config/editTimeNode.htm?editId=" + id);
        win.setText("修改教育信息");
    }

    function doNew(){
        var win = xWindow.getInstance("newEducationInfo", {w:680, h:500});
        win.centerOnScreen();
        win.setModal(true);
        win.attachURL("$!{service_name}/config/newTimeNode.htm");
        win.setText("新建教育信息");
    }

    function doDelete(rid,cid){
        var sdata, id;
        if(rid){
            sdata = dataGrid.getDataByRowId(rid);
        }else{
            sdata = dataGrid.getSelectedData();
        }
        if(!sdata){
            alert("请先选择要修改的数据!");
            return;
        }
        id = sdata.ID;
        if(confirm("确定删除？")){
            var params={};
            $.post("$!{service_name}/config/deleteTimeNode.json?editId="+id,params,function(data){
                if(data.result==true){
                    alert('删除成功!');
                    dataGrid.reload();
                }else{
                    alert('删除失败:'+data.errorInfo);
                }
            })
        }else{
            return ;
        }
    }
    function imgRender(td,data,rowData){
        td.innerHTML = data ? ("<img src='"+data+"' width=150 >"):'&nbsp;';
        td.style.padding="5px"
    }
</script>