body{
    background:#19BB9B;
}
*:focus {outline: none;}
.keySearch{
    width: 1024px;
    text-align: left;
    margin: 0px auto;
    z-index:3;
    position: relative;
    display: block;
    padding-top: 45px;
}
.searchDiv{
    width:450px;
    background: #fff;

}
.searchDiv i[class="icon-search"]{
    font-size: 20px;
    color: #ccc;
    line-height: 20px;
    outline: none;
}
.searchDiv input[type="text"]{
    width: 400px;
    line-height: 20px;
    border: 1px solid white;
    text-align: left;
    font-size: 18px;
    color:#EEEEEE;
    padding:2px;
}
.content{
    width:1000px;
    margin:0 auto;
    padding:0;
    min-height:720px;
    overflow:hidden;
}
.content .item{
    width:19%;
    display:block;
    float:left;
    min-width:190px;
    margin:20px auto;;
    padding:0;
    text-align:left;
}
.content .item .itemImg{
    width:95%;
    margin:3px auto;
    display:blcok;
    max-width:100%;
    position:relative;
    cursor: pointer;
}
.content .item .itemImg img{
    width:50%;
    display:block;
    margin-bottom:20px;
    padding:0;
    max-width:100%;
}
.content .item .itemImg span{
    position: absolute;
    top: 0;
    left: 50%;
    display:block;
    color: #fff;
    font-family: '微软雅黑';
}
