<!--[if lt IE 10]>
<script type="text/javascript" src="$!{service_name}/resources/pie/PIE.js"></script>
<![endif]-->
<script language="javascript">
    $(function() {
        if (window.PIE) {
            $('.contentDescIcon img').each(function() {
                PIE.attach(this);
            });
        }
    });
</script>

<!--[if IE]>
    <style type="text/css">
    .homeArtical .articalList .item a{
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#98EECFff ,endColorstr=#98EEEF);
        color:#000 !important;
    }
</style>
<![endif]-->

<link rel="stylesheet" href="$!{service_name}/resources/css/home.css"/>
<link rel="stylesheet" href="$!{service_name}/resources/css/nav.css"/>
$contain.get('/nav.vm')
<div class="homeContent">
   <div class="contentDescIcon">
       <img src="$!{service_name}$!{userInfo.USER_ICON}">
       <p class="contentName">$!{userInfo.ENGLISH_NAME}</p>
   </div>
   <div class="contentDesc">
        <p><font color="#AD9991">Chinese Name:</font>$!{userInfo.CHINESE_NAME}</p>
       <p style="margin-left: -10px;"><font color="#AD9991">BirthDay:</font>$!{userInfo.BIRTHDATE}</p>
       <p style="margin-left: -30px;"><font color="#AD9991">Education:</font> $!{userInfo.EDUCATION}</p>
       <p style="margin-left: -60px;word-break: break-all;max-width: 500px !important;"><font color="#AD9991">Hobbies:</font> $!{userInfo.HOBBIES}</p>
   </div>
</div>
<script>
    $(document).ready(function(){
        $('.contentDescIcon img').slideDown(1000);
        $('.contentName').slideDown(1000);
    })

</script>
<div class="homeArtical">
    <ul class="articalList">
        #foreach($catalog in $catalogList)
            <li>
                <div class="item">
                    <img src="$!{service_name}$!{catalog.CATALOG_PIC}"/>
                    <a onclick="location.href='$!{service_name}$!{catalog.CATALOG_URL}?catalogId=$!{catalog.ID}'">$!{catalog.CATALOG_NAME}</a>
                </div>
            </li>
        #end
    </ul>
</div>
<div class="footer">

</div>