<div class="homeNavLine">
    <ul class="homeNav">
        <li><a href="$!{service_name}/picWall.htm">照片墙</a></li>
        <li><a href="$!{service_name}/home.htm?userId=1">开发者信息</a></li>
        <li><a>关于本站</a></li>
        <li><a>共享资料</a></li>
    </ul>
</div>