
<link rel="stylesheet" href="$!{service_name}/resources/css/nav.css"/>
$contain.get('/nav.vm')
<script type="text/javascript" src="$!{service_name}/resources/scripts/prjOverview/prjOverview.js"></script>
<link rel="stylesheet" type="text/css" href="$!{service_name}/resources/css/prjOverview.css">
<link rel="stylesheet" href="$!{service_name}/resources/fontAwesome/css/font-awesome-ie7.css" type="text/css">
<link rel="stylesheet" href="$!{service_name}/resources/fontAwesome/css/font-awesome.css" type="text/css">
<!--[if lt IE 10]>
<script type="text/javascript" src="$!{service_name}/resources/pie/PIE.js"></script>
<![endif]-->
<script language="javascript">
    $(function() {
        if (window.PIE) {
            $('.content .leftDiv span').each(function() {
                PIE.attach(this);
            });
        }
    });
</script>
<!--[if lt IE 10]>
    <style>
        .content .leftDiv .bottom-desc{
            min-height:60px;
            width:100%;
            color:#fff;
            position:absolute;
            bottom:0;
            left:0;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#77797C ,endColorstr=#77797C);
        }
        .overviewList li .overviewItem{
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66B2B2 ,endColorstr=#66B2B2);
        }
    </style>
    <script>
        $(document).ready(function(){
            speed=5;
        })
    </script>
<![endif]-->
<div class="content">
    <div class="leftDiv">
        <ul class="picList" id="picList">
            #foreach($pic in $picList)
                <li  #if($velocityCount == 1)class="active"#end>
                    <img src="$!{service_name}$!{pic.PIC_URL}" />
                    <div class="bottom-desc">
                        <p class="desc-title">$!{pic.PIC_DESC_TITLE}</p>
                        <p class="desc-content">$!{pic.PIC_DESC_CONTENT}</p>
                    </div>
                </li>
            #end
        </ul>
        <span class="pre" onclick="pre()"><img src="$!{service_name}/resources/images/icon/pre.png"/> </span>
        <span class="next" onclick="next()"><img src="$!{service_name}/resources/images/icon/next.png"/> </span>
    </div>
    <div class="rightDiv">
        <ul class="overviewList">
            #foreach($module in $modulesList)
                <li id="$!{catalog.ID}">
                    <div class="overviewItem">
                        <div class="imgDiv">
                            <img src="$!{service_name}$!{module.MODULE_IMG}"/>
                        </div>

                        <p>$!{module.MODULE_NAME}</p>
                    </div>
                </li>
            #end
        </ul>
    </div>
</div>