<script language="javascript">
    $(function() {
        if (window.PIE) {
            $('.content .leftDiv span').each(function() {
                PIE.attach(this);
            });
        }
        $('#fullPage').fullpage({
            'anchors': [#foreach($module in $modulesList)#if($velocityCount > 1),#end'$module.MODULE_NAME'#end],
            'navigation': true,
            'navigationColor': '#fff',
            'onLeave':function(index,nextIndex,direction){
                var nextPage=$('.section:eq('+index+')');
               //console.debug("nextPageId:%o",nextPage.attr("id"));
        }
        });
    });
    $(document).ready(function(){
        $('.picList').slideDown(1000);

        setTimeout(function(){
            $('.content .contentDesc h2').fadeIn("slow");
        },1300);
        setTimeout(function(){
            $('.content .contentDesc p').fadeIn("slow");
        },1600);
        setTimeout(function(){
            $('.content .contentDesc2 h4').slideDown("slow");
        },600);
        setTimeout(function(){
            $('.content .contentDesc2 p').fadeIn("slow");
        },900);
    });
</script>

<!--[if lt IE 10]>
    <style>
        .content{
            margin-top:100px;
        }
        .picList{
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#495B5B ,endColorstr=#6F8B8B);
        }
        .content .leftDiv .bottom-desc{
            min-height:60px;
            width:100%;
            color:#fff;
            position:absolute;
            bottom:0;
            left:0;
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#77797C ,endColorstr=#77797C);
        }
        .overviewList li .overviewItem{
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#87A8A8 ,endColorstr=#87A8A8);
        }
        .contentBody2{
             filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5F2F2 ,endColorstr=#E5F2F2);
        }
         .homeNavLine{
             filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#96B3B3 ,endColorstr=#96B3B3);
        }
    </style>
    <script>
        $(document).ready(function(){
            speed=5;
        })
    </script>
<![endif]-->
<style>
    .homeNavLine{
        background: rgba(0,0,0,0.2);

    }
    .homeNavLine ul li a{
        color: #fff !important;
    }
</style>
$contain.get('/nav.vm')
<div id="fullPage">
#foreach($module in $modulesList)
<div class="section" id="$module.ID">
    <div class="content">
        <div class="contentDesc">
            <h2>$!{module.MODULE_NAME}</h2>
            <p>项目发布链接:<br/>&nbsp;&nbsp;$!{module.MODULE_RELEASE_URL}</p>
        </div>
        <div class="leftDiv">
            <ul class="picList" id="picList$velocityCount">
                #foreach($pic in $picList)
                    <li  #if($velocityCount == 1)class="active"#end>
                        <img src="$!{service_name}$!{pic.PIC_URL}" />
                        <div class="bottom-desc">
                            <p class="desc-title">$!{pic.PIC_DESC_TITLE}</p>
                            <p class="desc-content">$!{pic.PIC_DESC_CONTENT}</p>
                        </div>
                    </li>
                #end
            </ul>
            <span class="pre" onclick="pre('picList$velocityCount')"><img src="$!{service_name}/resources/images/icon/pre.png"/> </span>
            <span class="next" onclick="next('picList$velocityCount')"><img src="$!{service_name}/resources/images/icon/next.png"/> </span>
        </div>
        <div class="contentDesc2">
            <h4>项目简介:</h4>
            <p><br/>&nbsp;&nbsp;&nbsp;&nbsp;$!{module.INTRODUCTION_OVERVIEW}</p>
        </div>
    </div>
</div>
#end
</div>